{% set page_header, page_footer = frappe.db.get_value(
  'Letter Head', nd_letter_head, ['content', 'footer']
  ) if nd_letter_head else ('', '')
%}

<table class="nd-page-layout">
  <thead class="hidden-pdf">
    <tr>
      <td>
        <div id="header-html">
          {{ page_header if not no_letterhead else '' }}
        </div>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {% if doc.status != 'Completed' %}
        <section class="nd-docstatus">
          <span class="badge">
            {{ doc.status }}
          </span>
        </section>
        {% endif %}

        <section class="nd-rep-details">
          {% set patient = frappe.get_doc('Patient', doc.patient) %}
          <div class="row">
            <dl class="col-xs-6">
              <dt>Name</dt>
              <dd>
                <span class="nd-strong">{{ doc.patient_name }}</span>
                (<span class="nd-mono">{{ doc.patient }}</span>)
              </dd>
            </dl>
            <dl class="col-xs-6">
              <dt>Referred By</dt>
              <dd>{{ doc.physician or '' }}</dd>
            </dl>
          </div>
          <div class="row">
            <dl class="col-xs-6">
              <dt>Bio</dt>
              <dd>{{ doc.patient_age|lower|replace(' year(s)', 'Y')|replace(' month(s)', 'M')|replace(' day(s)', 'D') or '?' }} / {{ doc.patient_sex }}</dd>
            </dl>
            <dl class="col-xs-6">
              <dt>Test ID</dt>
              <dd><span class="nd-strong">{{ doc.name }}</span></dd>
            </dl>
          </div>
          <div class="row">
            <dl class="col-xs-6">
              <dt>Contact</dt>
              <dd>{{ patient.address_line1 or '' }}</dd>
              <dd>{{ patient.mobile or '' }}</dd>
            </dl>
            <dl class="col-xs-6">
              <dt>Invoice</dt>
              <dd class="nd-mono">{{ doc.invoice }}</dd>
            </dl>
          </div>
          <div class="row">
            <dl class="col-xs-6"></dl>
            {% if doc.submitted_date %}
            <dl class="col-xs-6">
              <dt>Completed on</dt>
              <dd>{{ doc.get_formatted('submitted_date') }}</dd>
            </dl>
            {% endif %}
          </div>
        </section>

        <section class="nd-rep-title">
          <h1>Department of {{ doc.department }}</h1>
        </section>

          <section class="nd-rep-items">
            {% if doc.normal_test_items %}
            <table>
              <caption>{{ doc.test_name }}</caption>
              <thead>
                <tr>
                  <th>Test</th>
                  <th class="text-right">Result</th>
                  <th>Units</th>
                  <th>Biological Reference</th>
                </tr>
              </thead>
              <tbody>
                {% for item in doc.normal_test_items %}
                  {% set will_separate = item.test_name
                    and not frappe.utils.cint(item.require_result_value) %}
                  {% set will_indent = not item.test_name and item.test_event %}
                  <tr class="{{ 'nd-separate' if will_separate else '' -}}
                  {{- 'nd-indent' if will_indent else ''  }}">
                  <td>
                    {{ item.test_name or item.test_event or '' }}
                    {% if item.test_comment %}
                    <br />
                    <span class="nd-emphasize">{{ item.test_comment }}</span>
                    {% endif %}
                  </td>
                  <td class="text-right {{ 'nd-strong' if item.highlight else '' }}">{{ item.result_value or '' }}</td>
                  <td>{{ item.test_uom or '' }}</td>
                  <td>{{ item.normal_range|replace('\n', '<br />') if item.normal_range else '' }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
            {% if doc.special_test_items %}
            <table>
              <caption>{{ doc.test_name }}</caption>
              <thead>
                <tr>
                  <th>Test</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
                {% for item in doc.special_test_items %}
                <tr>
                  <td>{{ item.test_particulars }}</td>
                  <td>{{ item.result_value }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
            {% if doc.sensitivity_test_items %}
            <table>
              <caption>{{ doc.test_name }}</caption>
              <thead>
                <tr>
                  <th>Test</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
                {% for item in doc.sensitivity_test_items %}
                <tr>
                  <td>{{ item.antibiotic }}</td>
                  <td>{{ item.antibiotic_sensitivity }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </section>

          {% if doc.custom_result %}
          <section class="nd-rep-custom">
            <div>{{ doc.custom_result }}</div>
          </section>
          {% endif %}

          {% if doc.sample and frappe.utils.cint(doc.sample_in_print) %}
          <section class="nd-rep-comment">
            {% set sample = frappe.get_doc('Sample Collection', doc.sample) %}
            <h3>Sample</h3>
            <p>{{ sample.sample }} – {{ sample.get_formatted('sample_quantity') }} {{ sample.sample_uom }}</p>
            {% if sample.sample_collection_details %}
            <p>{{ sample.sample_collection_details }}</p>
            {% endif %}
          </section>
          {% endif %}

          {% if doc.test_comment %}
          <section class="nd-rep-comment">
            <h3>Comments</h3>
            <p>{{ doc.test_comment }}</p>
          </section>
          {% endif %}

          <section class="nd-rep-ack hidden-pdf">
            <div>+ Technician</div>
            <div>+ Consultant Pathologist</div>
          </section>
      </td>
    </tr>
  </tbody>
  <tfoot class="hidden-pdf">
    <tr>
      <td>
        <div id="footer-html">
          {{ page_footer if not no_letterhead else '' }}
        </div>
      </td>
    </tr>
  </tfoot>
</table>
