<style>
  @media screen {
    .print-format {
      min-height: {{ '148mm' if is_landscape else '210mm' }};
      max-width: {{ '210mm' if is_landscape else '148mm' }};
      padding: 10mm;
    }
  }
  .nd-inv {
    display: flex;
    flex-flow: column nowrap;
    min-height: calc({{ '148mm' if is_landscape else '210mm' }} - 2 * 10mm);
  }
  .nd-inv > section {
    font-size: 0.9em;
  }
  .nd-inv-head {
    text-transform: uppercase;
    padding: 0.4em 0;
    text-align: center;
  }
  .nd-inv-head h1 {
    border-bottom: 1px solid {{ style.border_color }};
    margin: 0;
    font-size: 1.2em;
  }
  .nd-inv-head > div {
    display: inline;
  }
  .nd-inv-head > div:before {
    content: '•';
    margin: 0 0.5em;
  }
  .nd-inv-head > div:first-of-type:before {
    content: '';
    margin: 0 0.5em;
  }
  .nd-inv-head .badge {
    font-size: 0.8em;
    font-variant: all-small-caps;
    background-color: #36414c;
    color: #fff;
  }
  .nd-inv-details {
    margin: 0.8em 0;
  }
  .nd-inv-details dl {
    margin: 0;
  }
  .nd-inv-details dl > * {
    display: inline;
    font-weight: normal;
  }
  .nd-inv-details dt:after {
    content: ':';
    margin: 0 0.5em;
  }
  .nd-inv-items {
    flex: auto;
  }
  .nd-inv-items > table {
    width: 100%;
  }
  .nd-inv-items > table th, .nd-inv-items > table td {
    padding: 2pt !important;
  }
  .nd-inv-items > table > tfoot td:first-of-type {
    text-align: right;
  }
  .nd-inv-items > table > tfoot > tr:first-of-type > td {
    border-top: 1px solid {{ style.border_color }};
  }

  .nd-inv-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
  }
  .nd-inv-footer > div {
    flex: auto;
  }
  .nd-ack {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    margin-top: 0.4em;
  }
  .nd-ack > div {
    text-align: center;
    width: 100%;
    padding: 2pt;
  }
  .nd-strong {
    font-weight: bold;
  }
  .nd-empasize {
    font-style: italic;
    border-bottom: 1px solid {{ style.border_color }};
  }
  .nd-mono {
    font-family: mono;
  }
</style>


{% if doc.patient %}
{% set patient = frappe.get_doc('Patient', doc.patient) %}
<div class="nd-inv">
  {% if not no_letterhead and doc.letter_head %}
  {{ frappe.db.get_value('Letter Head', doc.letter_head, 'content') }}
  {% endif %}

  <section class="nd-inv-head">
    <h1>Sales Invoice</h1>
    {% if doc.docstatus != 1 %}
    <div class="badge">{{ doc.status }}</div>
    {% endif %}
    <div class="nd-strong nd-mono">{{ doc.name }}</div>
    <div>{{ doc.get_formatted('posting_date') }}</div>
    <div>{{ doc.get_formatted('posting_time') }}</div>
  </section>

  <section class="nd-inv-details">
    <div class="row">
      <dl class="col-xs-6">
        <dt>Name</dt>
        <dd>{{ doc.patient_name }} (<span class="nd-strong nd-mono">{{ doc.patient }}</span>)</dd>
      </dl>
      <dl class="col-xs-6">
        <dt>Bio</dt>
        <dd>{{ patient.get_age()|lower|replace(' year(s)', 'Y')|replace(' month(s)', 'M')|replace(' day(s)', 'D') or '?' }} / {{ patient.sex }}</dd>
      </dl>
    </div>
    <div class="row">
      <dl class="col-xs-6">
        <dt>Address</dt>
        <dd>{{ patient.address_line1 or '' }}</dd>
      </dl>
      <dl class="col-xs-6">
        <dt>Referred By</dt>
        <dd>{{ doc.ref_physician or '' }}</dd>
      </dl>
    </div>
    <div class="row">
      <dl class="col-xs-6">
        <dt>Mobile</dt>
        <dd>{{ patient.mobile or '' }}</dd>
      </dl>
    </div>
  </section>

  <section class="nd-inv-items">
    <table>
      <thead>
        <th>#</th>
        <th>Particulars</th>
        <th>Department</th>
        <th>Delivery Date</th>
        <th>Delivery Mode</th>
        <th class="text-right">Amount</th>
      </thead>
      <tbody>
        {% for item in doc.items %}
        {% set lab_test = frappe.get_doc('Lab Test', item.reference_dn)
        if item.reference_dt == 'Lab Test' and item.reference_dn else None
        %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ item.item_name }}</td>
          <td>{{ lab_test and lab_test.department }}</td>
          <td>{{ lab_test and lab_test.get_formatted('result_date') }}</td>
          <td>{{ lab_test and lab_test.report_preference }}</td>
          <td class="text-right">{{ item.get_formatted('amount', doc) }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            Total
            {% if doc.total_taxes_and_charges %}
            (Inclusive of GST {{ doc.get_formatted('total_taxes_and_charges') }})
            {% endif %}
          </td>
          <td class="text-right">{{ doc.get_formatted('total') }}</td>
        </tr>
        <tr>
          <td colspan="5">Discount</td>
          <td class="text-right">{{ doc.get_formatted('discount_amount') }}</td>
        </tr>
        <tr>
          <td colspan="5">
            Grant Total
            {% if doc.rounding_adjustment %}
            (Round Off: {{ doc.get_formatted('rounding_adjustment') }})
            {% endif %}
          </td>
          <td class="text-right nd-strong">{{ doc.get_formatted('rounded_total') }}</td>
        </tr>
        <tr>
          <td colspan="6" class="text-right nd-empasize">{{ doc.in_words }}</td>
        </tr>
        <tr>
          <td colspan="5">Paid</td>
          <td class="text-right">{{ doc.get_formatted('paid_amount') }}</td>
        </tr>
        <tr>
          <td colspan="5">Outstanding</td>
          <td class="text-right nd-strong">{{ doc.get_formatted('outstanding_amount') }}</td>
        </tr>
      </tfoot>
    </table>
  </section>
  <section class="nd-inv-footer">
    <div>
      {{ doc.terms }}
    </div>
    <div class="nd-ack">
      <div class="nd-empasize">
        Received
      </div>
      <div>
        <span>&#9113;</span>
        <span>
          {{ frappe.get_fullname() }}
          @
          {{ frappe.utils.format_datetime(frappe.utils.now()) }}
        </span>
      </div>
    </div>
  </section>
</div>
{% else %}
<div class="nd-inv">
  <p class="text-center">Sales Invoice is not linked to a Patient. Please try other Print Formats.</p>
</div>
{% endif %}
